<!DOCTYPE html>
<html>
<head>
  <title>Calculator time</title>
 <!--  <link rel="stylesheet" type="text/css" href="/styles.css"> -->
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/basic">Basic Calculator</a></li>
      <li><a href="/BMI">BMI Calculator</a></li>
      <li><a href="/Mortgage">Mortgage Calculator</a></li>
      <li><a href="/Mileage">Mileage Calculator</a></li>
    </ul>
  </nav>

  <%= yield %>
  
</body>
</html>