<html>

<head>
  <title>Pig latin</title>
</head>
<body>
<form action="/translate" method="post">
  <input type="text" name="text" autofocus>
  <button> Pig lating a word</button>
</form>

<p><%= @pig_text %></p>

</body>
</html>